body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(148, 7, 177, 0.664);
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  h2 {
    font-size: large;
    color: black;
    text-align: center;
  }
  
  p {
    text-align: center;
    font-family: verdana;
    font-size: 30px;
  }