body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url("https://cdn.discordapp.com/attachments/959570367675002905/969063125443821598/fondo.png");
  padding: 0px;
  margin: 0px;
  text-emphasis-color: #ffa531;
}

  #temperatura table, th, td {
  border: 1px solid;
  color: white;
  }

  h1 {
  font-size: large;
  color:  #ffa531;
  text-align: center; 
  }

  p {
  text-align: center;
  text-emphasis-color: white;
  font-family: verdana;
  font-size: 30px;
  }

  #gato table, th, td {
    border: 1px solid;
    color: white;
    background-color: black;
  }

  h1 {
    font-size: large;
    color:  #ffa531;
    text-align: center;
  }

  h2 {
    font-size: large;
    color:  #ffa531;
    text-align: center;
  }
  h4 {
    text-align: center;
    color: white;
    font-family: verdana;
  }

  p {
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 30px;
  }

  #form label {
    color: white;
    font-family: verdana;
  }
  #form input {
    font-family: verdana;
  }
