.html{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium; 
}

.titulo {
    margin-right: 4.9%;
}

.registrarse {
    background-color: chartreuse;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-weight: 100;
    color: blue;
    cursor: pointer;
    transition: .3s all; 
    margin-left: 5%;
}

.logearse {
    background-color: orangered;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-weight: 100;
    color: blue;
    cursor: pointer;
    transition: .3s all;
    margin-left: 1%;
}

.logearse:hover, .registrarse:hover{
    background-color: rgba(16, 126, 107, 0.836);
}

header{
    background-color: rgb(41, 41, 41);
}

h1{
    text-align: center;
    color: orange;
}
h2{
    text-align: center;
    color:rgba(16, 126, 107, 0.836);
}
p{
    text-align: center;
}

body{
    background-image: url("https://cdn.discordapp.com/attachments/959570367675002905/969063125443821598/fondo.png");
    background-size: cover;
    color: white;     
}
